<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>AVS</title>
</head>
<body style="background-color: rgb(93, 93, 95);">
    {% include 'header.html' %}
    

    <!-- <div>
        
        <label for="combo1">Combo Box 1:</label>
        <select id="combo1" name="combo1">
            <option value="opcion1">Opción 1</option>
            <option value="opcion2">Opción 2</option>
           
        </select>

        <label for="combo2">Combo Box 2:</label>
        <select id="combo2" name="combo2">
            <option value="opcionA">Opción A</option>
            <option value="opcionB">Opción B</option>
          
        </select>
    </div> -->

    <div style="padding-bottom: 35%; background-color: rgb(93, 93, 95);">
        <label for="combo1">Seleccione Proyecto:</label>
        <select id="cbProyectos" name="combo1"></select>
        
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
{% include 'footer.html' %}
</html>
